@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

#combai > *{
    display: inline-block;
}
.comlist{
    font-family: 'Rambla', sans-serif;
}
#combai{
    background-color: #BF996B;
    width: 80%;
    height: 500px;
    margin-left: 10%;

}

#txtcom{
    width: 45%;
    position: relative;
    top: -120px;
    margin-left: 14px;
}

#txtcom > *{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;

}

#fotcom{
    width: 80%;
    margin-left: 10%
}

#txtico{
    padding: 100%;
}

#fotcom > li > a{
    text-decoration: none;
    color: black;

}

#fotcom > li > a:hover{
    color: rgba(0, 0, 255, 0.555);

}